body
{
    background-color: #111;
}

#calc
{
    background-color: #333;
    box-shadow: 0 0 10rem #222;
}

.btn, #display
{
    color: #999;
    background-color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
}

.btn:active
{
    background-color: #777;
    color: #ccc;
}