body
{
    background-color: #fb0;
}

#calc
{
    background-color: #ff0;
    box-shadow: 0 0 10rem #b0f;
}

.btn, #display
{
    color: #fb0;
    background-color: #00f;
    font-family: 'Comic Sans', 'Papyrus';
    font-size: 3em;
}

.btn:active
{
    color: #0f0;
    background-color: #f0f;
}